@import "@/Shared/Assets/Scss/vars";
@import "@/Shared/Assets/Scss/fonts";
@import "@/Shared/Assets/Scss/indention";

@mixin pages-content {
    &__heading {
        text-align: center;
        color: $white-color;
        @include helvetica-40-bold;
    }
    &__text {
        text-indent: 20px;
        margin-top: 20px;
        color: $white-color;
        @include inter-14-regular;
    }
    &__list {
        text-indent: 0;
        margin-left: 40px;
        li::before {
            color: $white-color;
        }
    }
    &__section-heading {
        @include margin-vertical(12px);
        @include helvetica-24-bold;
    }
}