@mixin post-no-bills-jaffna-24-bold {
    font-family: "PostNoBillsJaffna";
    font-weight: 700;
    line-height: 32px;
    font-size: 24px;
}

@mixin helvetica-24-bold {
    font-family: "Helvetica";
    font-weight: 700;
    line-height: 32px;
    font-size: 24px;
}

@mixin helvetica-40-bold {
    font-family: "Helvetica";
    font-weight: 700;
    line-height: 48px;
    font-size: 40px;
}

@mixin helvetica-60-bold {
    font-family: "Helvetica";
    font-weight: 700;
    line-height: 98px;
    font-size: 60px;
}

@mixin inter-14-regular {
    font-family: "Inter";
    font-weight: 400;
    line-height: 22px;
    font-size: 14px;
}

@mixin inter-16-regular {
    font-family: "Inter";
    font-weight: 400;
    line-height: 24px;
    font-size: 16px;
}

@mixin inter-18-regular {
    font-family: "Inter";
    font-weight: 400;
    line-height: 26px;
    font-size: 18px;
}

@mixin inter-18-bold {
    font-family: "Inter";
    font-weight: 700;
    line-height: 26px;
    font-size: 18px;
}

@mixin inter-20-bold {
    font-family: "Inter";
    font-weight: 700;
    line-height: 26px;
    font-size: 28px;
}

@mixin great-vibes-32-regular {
    font-family: "GreatVibes";
    font-weight: 400;
    line-height: 40px;
    font-size: 32px;
}