@import "@/Shared/Assets/Scss/vars";
@import "@/Shared/Assets/Scss/shadow";

@mixin icon-24 {
    width: 24px;
    height: 24px;
    display: flex;
    cursor: pointer;
}

@mixin icon-base-style {
    width: 100%;
    height: 100%;
    stroke: $white-color;
    transition: 300ms ease-in;
    &:hover {
        stroke: $primary-color;
        transition: 300ms ease-out;
        @include shadow-primary;
    }
}